<form class="form-main-block" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" formControlName="logEmail" class="form-control" id="email">
  </div>
  <div class="alert alert-danger" *ngIf="userForm.logEmail.touched && userForm.logEmail.errors">
    <div *ngIf="userForm.logEmail.errors.required">
      Email is required
    </div>
  </div>
  <div class="form-group">

  </div>
  <label for="pwd">Password:</label>
  <div class="input-group mb-3">
    <!-- MVP2 - Start of 2.3 See Password Button with eye icon -->
    <input [type]="show ? 'text' : 'password'" formControlName="logPass" class="form-control" id="pwd">
    <div class="input-group-append pointer" (click)="showPassword()">
      <span class="input-group-text" style="background-color:white">
        <i *ngIf="show" class="fa fa-eye" title="Hide Password"></i>
        <i *ngIf="!show" class="fa fa-eye-slash" title="Show Password"></i>
      </span>
    </div>
    <!-- MVP2 - End of 2.3 See Password Button with eye icon -->
  </div>
  <div class="alert alert-danger" *ngIf="userForm.logPass.touched && userForm.logPass.errors">
    <div *ngIf="userForm.logPass.errors.required">
      Password is required
    </div>
  </div>
  <!--  MVP2 - Start of 2.4 Forgot Password -->
  <span class="forget-pass lablForgot" data-toggle="modal" data-target="#myModal">Forgot Password</span>
  <!--  MVP2 - End of 2.4 Forgot Password -->
  <div class="pt-3">
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
  </div>

  <div #alert *ngIf="loginError" class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    Username or password is incorrect
  </div>
</form>

<!-- Password link sent to email div alert -->
<div #alert *ngIf="linkSent" class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ emailSentSuccessfully }}
</div>

<!--  MVP2 - Start of 2.4 Forgot Password -->
<!-- Forget password Modal  -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Forget Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usr">Email</label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="forgotPasswordEmail" name="forgetemail"
              required>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="forgotPassword(forgotPasswordEmail)"
          data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<!--  MVP2 - End of 2.4 Forgot Password -->