<section class="speech-container">
  <header class="text-center">
    <h2>
      Speech to text
    </h2>
  </header>
  <main class="text-center" class="grid-container m-1">
    <div class="action-button">
        <button class="btn btn-success w-50 justify-self-center" (click)="startButton($event)" *ngIf="!recognizing">Start</button>
        <button class="btn btn-danger w-50 justify-self-center" *ngIf="recognizing" (click)="stopButton()">Stop</button>
    </div>
    <div style="text-align:center">
        <button class="btn btn-primary justify-self-center" (click)="endMeetingData()">End</button>
    </div>
    <div class="justify-self-center align-self-center">
      <p *ngIf="notification" class="notification mb-0">{{notification}}</p>
    </div>
    <div>
      <div *ngFor="let message of messages" class="alert alert-info message-box ml-2 mr-2">
          <p class="m-0 sender-name">{{ message.sender + ":" }}</p><p class="m-0">{{ message.message }}</p>
      </div>
    </div>
    <div>
      <form (ngSubmit)="sendTextMessage(message)">
        <div class="form-container">
          <input name="message" [(ngModel)]="message" placeholder="Enter your message here....." class="form-control pl-3">
          <button class="btn btn-primary" type="submit">Enter</button>
        </div>
      </form>
    </div>
  </main>
  <!-- <footer>

  </footer> -->
</section>