.grid-container{
    display: grid;
    grid-template-rows: 50px 50px auto 50px;
}
.min-height{
    min-height: 50px;
}
.speech-container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
}
.form-container{
    display: grid;
    grid-template-columns: auto 100px;
}
.action-button{
    display: grid;
}
.justify-self-center{
    justify-self:center
}
.message-box{
    grid-template-columns: 100px auto;
    display: grid;
}
.sender-name{
    color: #0064b8
}