<nav class="navbar navbar-expand-sm bg-color d-flex">
  <ul class="navbar-nav nav-content">
    <li class="nav-item active col-6">
        <header>
          <h1 class="capcologo">CAPCO</h1>
        </header>
    </li>
    <li class="logout justify-content-end col-6">
      <span (click)="logout()" class="text-white">Logout</span>
    </li>
  </ul>
</nav>
<!-- show date -->
<div class="pl-20">
  <header>
    <h1 class="up-meeting">Upcoming Meetings</h1>
  </header>
  <header>
    <h2 class="date">{{dateNowISO | date: "dd/MM/yyyy"}}</h2>
  </header>
</div>
<!-- accordion start -->
<div id="accordion" class="acc-block">
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-primary collapsed create-meeting" data-toggle="collapse" data-target="#collapseThree"
          (click)="displayCreateMeetingForm = true" aria-expanded="false" aria-controls="collapseThree">
          <img src="../../assets/svg-icons/plus.svg" class="add-icon mr-2" />Create Meeting Request
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse justify-content-center" aria-labelledby="headingThree"
      data-parent="#accordion" *ngIf="displayCreateMeetingForm">
      <app-create-meeting-request (postData)="objectFromCreateMeetingSuccess($event)"></app-create-meeting-request>
    </div>
  </div>
</div>
<!-- card block start -->
<div class="container-fluid">
  <div class="row m-none justify-content-center" *ngIf = "activeMeetings.length == 0">
    <h4>No Meetings Available</h4>
  </div>
  <div class="row m-none" *ngIf = "activeMeetings.length != 0">
    <div class="col-xs-12 col-md-6 main-card" *ngFor="let meetingData of activeMeetings">
      <div class="card">
        <div class="card-body card-block">
          <div class="row m-none">
            <div class="col-sm-2 icon">
              <i class="fa fa-address-card-o" style="font-size:48px;color:black;"></i>
            </div>
            <div class="col-sm-5">
              <h2 class="font">{{meetingData.agenda}}</h2>
              <h1 class="heading">{{meetingData.location}}</h1>
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-12 disp-cen">
                  <button type="button" class="btn btn-info" (click)="createRoom(meetingData)" *ngIf="!meetingData.token && meetingData.organizerEmail == emailData.email && !meetingData.isVirtualRoomCreated">Create Virtual
                    room</button>
                  <button type="button" class="btn btn-info" *ngIf="(meetingData.organizerEmail != emailData.email) || meetingData.token" data-toggle="modal"
                    data-target="#acceptTokenModal" (click)="sendDetailsToTokenModal(meetingData)">Join Virtual Room</button>
                </div>
              </div>
              <div class="row disp-cen" *ngIf="meetingData.organizerEmail == emailData.email">
                <div class="col-xs-6 edit-btn">
                  <button type="button" data-toggle="modal" data-target="#editMeetingModal" (click)="editMeeting(meetingData)" class="btn btn-success edit-btn2">Edit</button>
                </div>
                <div class="col-xs-6 cancel-btn p-left p--right">
                  <button type="button" (click)="cancel(meetingData)" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-none">
            <div class="col-sm-3 disp-cen p-none">
              <div class="card-time float-left">Date : {{meetingData.meetingDate | date: "dd/MM/yyyy"}}</div>
            </div>
            <div class="col-sm-4 disp-cen p-none">
              <div class="card-time">Time : {{meetingData.startTime}} - {{meetingData.endTime}}</div>
            </div>
            <div class="col-sm-5 disp-cen p-none">
              <div class="card-time">
                <button type="button" class="btn btn-warning see-part" (click)="participants(meetingData)"
                  data-toggle="modal" data-target="#listOfParticipants">
                  See Participants
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal popup for list of participants -->
<div class="modal fade" id="listOfParticipants" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Participants Invited</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-20">
        <div>
          <ul class="mt-20 list-group" *ngFor="let modelData of participantEmailModel.participantEmail">
            <li class="list-group-item">{{modelData}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Accept Token Modal -->
<div class="modal fade" id="acceptTokenModal" tabindex="-1" role="dialog" aria-labelledby="acceptTokenModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please enter token provided in your email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #acceptTokenForm="ngForm" novalidate>
          <input type="text" class="form-control" [(ngModel)]="joinVirtualRoomReqObj.token" name="token" id="token"
            placeholder="Enter Token Here" required>
          <div class="justify-content-end d-flex pt-10">
            <button type="button" class="btn btn-secondary mr-10" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal"   (click)="joinVirtualRoom(joinVirtualRoomReqObj)">Enter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Meeting Modal -->
<div class="modal fade" id="editMeetingModal" tabindex="-1" role="dialog" aria-labelledby="acceptTokenModal"
aria-hidden="true" *ngIf="editMeetingFlag">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Meeting</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-group" [formGroup]="editReq">
        <div class="form-group row">
          <div class="col-lg-4"><label for="agenda" class="mr-5">Agenda:</label></div>
          <div class="col-lg-7"><input type="text"  placeholder="Agenda" formControlName="agenda" name="agenda"
                  class="form-control" id="agenda" required></div>
      </div>
      <div class="alert alert-danger" *ngIf="editRequest.agenda.touched && editRequest.agenda.errors">
        Agenda is required
      </div>
      <div class="form-group row">
        <div class="col-lg-4"><label for="location" class="mr-5">Location:</label></div>
        <div class="col-lg-7"><input type="text"  placeholder="" formControlName="location" name="location" ng-model="editlocation"
                class="form-control" id="location" required></div>
    </div>
    <div class="alert alert-danger" *ngIf="editRequest.location.touched && editRequest.location.errors">
        Location is required
      </div>
            <div class="form-group row">
              <div class="col-lg-4"><label for="Date" class="mr-5">Date:</label></div>
              <div class="col-lg-7">
                      <input class="form-control" type="date"  placeholder="dd-mm-yyyy" formControlName="dateInput"
                          name="dateInput" id="dateInput" required>
              </div>
          </div>
          <div class="alert alert-danger" *ngIf="editRequest.dateInput.touched && editRequest.dateInput.errors">
            Date is required
          </div>
          <div class="form-group row">
            <div class="col-lg-4 align-center"><label for="stime" class="mr-5">Start Time:</label></div>
            <div class="col-lg-7">
                <ngb-timepicker formControlName="stime" [spinners]="false"></ngb-timepicker>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4 align-center"><label for="etime" class="mr-5">End Time:</label></div>
          <div class="col-lg-7">
              <ngb-timepicker formControlName="etime" id="etime" [spinners]="false" ></ngb-timepicker>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4"><label for="orgEmail" class="mr-5">Organizer Email:</label></div>
        <div class="col-lg-7"><input type="email" placeholder="Organizer's Email" formControlName="orgEmail"
                name="orgEmail" class="form-control" id="orgEmail" disabled></div>
    </div>
    <div class="form-group row pt-10 pb-10">
      <div class="col-lg-4"><label for="editEmail" class="mr-5 participant-email-label">Participant Email:</label>
      </div>
      <div class="col-lg-8">
          <div>
              <div class="row participant-email pt-10 pb-10" *ngFor="let editEmail of Editparticipant">
                  <div class="col-md-8 align-center">{{editEmail}}</div>
                  <div class="col-md-4"><button class="btn btn-outline-danger"
                          (click)="removeParticipant(editEmail)"><i
                              class="fa fa-trash-o delete-icon" aria-hidden="true"></i></button></div>
              </div>
          </div>
          <div class="row ">
              <div class="col-xl-7 col-lg-6">
                  <input type="email" formControlName="editEmail"  placeholder="Participant's Email"  name="editEmail"
                      class="form-control" id="editEmail" required>
              </div>
              <div class="col-xl-5 col-lg-6">
                  <button class="btn btn-primary" 
                      (click)="addParticipant(editRequest.editEmail.value); $event.preventDefault()">Add
                      Participant</button>
              </div>
          </div>
                <!-- <div class="alert alert-danger">
                  <div *ngIf="editRequest.editEmail.errors.required">
                      Participant's Email is required
                  </div>
                  <div *ngIf="editRequest.editEmail.errors.pattern && !editRequest.editEmail.errors.required">
                      Email should be of format (xxxx@capco.com)
                    </div>
              </div> -->
              
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8 mt-2 mb-5">
                    <button type="submit" data-dismiss="modal" (click)="onEditSubmit(editAllData)"  class="btn btn-primary submit-button">Submit</button>
                </div>
            </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Confirm delete Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel Meeting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
            Do you want to cancel meeting?
          </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-danger" (click)="cancel(confirmCancelMeeting)">
          Yes
        </button>
        <button data-dismiss="modal" class="btn btn-primary">
          No
        </button>
      </div>
    </div>
  </div>
</div>