<div class="row m-none mainblock">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <!-- <form class="form-block" [formGroup]="changePassForm"> -->
        <div class="form-group">
            <label for="pwd">New Password:</label>
            <input type="password" class="form-control" id="pwd" name="password">
          </div>
        <div class="form-group">
          <label for="conf-pwd">Confirm Password:</label>
          <input type="password" class="form-control" id="conf-pwd" name="password">
        </div>
        <div class="submit-div">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      <!-- </form> -->
  </div>
  <div class="col-sm-4"></div>
  </div>
  