.btn-primary:disabled {
    background-color: grey;
    border-color: grey;
}
.pointer {
    cursor: pointer;
}

// MVP2 - 2.1 Green tick icon if passwords match
span {
    i .fa fa-check ::before {
    color: green; 
    }
}